.card-list {
  margin: 0 auto;
  padding: 1rem;
  height: 75vh;
  width: 70%;
  background-color: white;
  border-radius: 0 0 8px 8px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
